.jc-top-nav header {
    width: 100%;
    max-width: none;
    padding: 0 64px;
}

.input_imageInput {
    margin: 0 auto;
    padding: 0 8px 8px;
    border-radius: 16px;
    background: var(--color-editor-background-input);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border: .5px solid var(--color-editor-border);
}

.input_inputStyle {
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, .5) transparent;
}