/*
  这个文件要放在自定义主题文件前面
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}